<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.chriswiggins.muteforsonos">


    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>


    <application android:allowBackup="true" android:label="@string/app_name"
        android:icon="@drawable/ic_launcher" android:theme="@style/AppTheme">


        <receiver android:name=".SonosWidgetProvider">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/sonos_widget_provider_info" />
        </receiver>


        <service
            android:name=".SonosService"
            android:enabled="true"
            android:exported="false">

            <intent-filter>
                <action android:name="uk.co.chriswiggins.sonoscontrol.unmute" />
            </intent-filter>
        </service>

        <service android:name=".SonosUpnpService"/>

        <activity
            android:name=".log.ShowLogActivity"
            android:label="@string/title_activity_show_log" >
        </activity>

    </application>

</manifest>
